_Last updated: 2025-10-27 (America/Phoenix)_

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,follow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "Eleventy Spike" }}</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>
