
<link rel="canonical" href="{{ canonical | default(site.url + page.url) }}">
<meta name="robots" content="{{ robots | default('index,follow') }}">
<meta name="googlebot" content="{{ googlebot | default('index,follow') }}">
