<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "{{ site.orgId }}",
  "name": "{{ site.name }}",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}{{ site.logo }}",
  "sameAs": [
    {% for social in site.socials %}
    "{{ social }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "founder": {
    "@type": "Person",
    "name": "{{ site.founder.name }}",
    "url": "{{ site.founder.url }}"
  }
}
</script>
