---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {# Add homepage #}
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>2025-11-03</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  
  {# Add services page #}
  <url>
    <loc>{{ site.url }}/services/</loc>
    <lastmod>2025-11-03</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  
  {# Add all product pages #}
  {% for product in products %}
  <url>
    <loc>{{ site.url }}/{{ product.slug }}/</loc>
    <lastmod>{{ product.lastmod }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  {% endfor %}
</urlset>
